@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin-top: 1rem;
    margin-left: 19rem;
    background-color: #282c34;
    color: peachpuff;
    margin-top: 4rem;
       
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    margin-left: 18rem;
}
h2 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-left: 19rem;
    /* margin-bottom: 15rem; */
}

p{
    /* margin-top: 3rem; */
    border: 2px solid forestgreen;
    margin: 3rem 19rem;
    padding: 1rem 2rem;
    background-color: rgb(226, 252, 184);
    font-weight: bold;
    color: black;
    margin-right: 44rem;
    
    
  }
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

  